<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task02-Home</title>
    <link rel='stylesheet' href="resources/css/pico.min.css">
    <link rel='stylesheet' href="resources/css/style-home.css">
</head>
<body>
<main class="container">
    <div></div>
    <div class="menu">
        <h1 class="h1">Hello, welcome you to our application</h1>
<!--        <a  class="button"  href="/Lesson073Task02/signup" type="button">Sign up</a></br>-->
<!--        <a class="button"  href="/Lesson073Task02/registration" type="button">Registration</a>-->
        <form action="signup">
            <button class="button" type="submit">Sign up</button>
        </form>
        <form action="registration">
            <button class="button" type="submit">Registration</button>
        </form>
<!--        <form action="products">-->
<!--            <button class="button" type="submit">Products</button>-->
<!--        </form>-->
    </div>
    <div></div>
</main>
<body>
</html>

