<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Reminder</title>
    <link rel='stylesheet' href="resources/css/pico.min.css">
    <link rel='stylesheet' href="resources/css/style-products1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
<main class='cont'>
    <h1 class="h">Our products</h1>
    <form method='post' сlass='amount'>
        %s
        <input class="but-ok" type="submit" value="Confirm your order"/>\
    </form>
</main>
</body>
</html>