<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task02-Home</title>
    <link rel='stylesheet' href="resources/css/pico.min.css">
    <link rel='stylesheet' href="resources/css/style-signup.css">
</head>
<body>
<main class="main">
    <div>
    </div>
    <div class="menu">
        <h1 class="h1">Registration</h1>
        <form method="POST" class="form">
            <div class="reg">
                <label class="label-input" for="login">Login</label>
                <input id="login" type="text" name="login" placeholder="Input your login"/>
            </div>
            <div class="reg">
                <label class="label-input" for="password">Password</label>
                <input id="password" type="text" name="password" placeholder="Input your password"/>
            </div>
            <input class="but-submit" type="submit" value="Submit"/>
        </form>
    </div>
    <div>
    </div>
</main>
<body>
</html>

