/* Common */
:root {
    /* text color */
    --color-text-primary: rgba(0, 0, 0, 1);
    --color-text-secondary: rgba(255, 255, 255, 1);

    /* background */
    --color-background-body: rgb(210, 210, 210, 1);

    /* text */
    --text-primary: "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background-body);
    height: 300vh;
    color: var(--color-text-primary);
}

main.cont {
    padding: 0;
    margin: 0;
}

h1.h {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-text-primary);
}

th.head {
    font-weight: 700;
    text-align: center;
    font-size: 16px;
}

td.mean1 {
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}

td.mean {
    font-weight: 400;
    text-align: right;
    font-size: 16px;
}

td.foot {
    font-weight: 700;
    text-align: right;
    font-size: 16px;
}

.button-ok {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    height: 2.5em;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

